.container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
  }
  
  .sidebar ul li:hover {
    background-color: #eaeaea;
  }
  .totalTask{
    cursor: pointer;
    padding: 10px 0;
    color: #333;
    font-weight: bold;
  }
  .totalTask:hover{
    background-color: #eaeaea;
  }
  .priorityTask{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 0;
    font-weight: bold;
    color: #333;
  }
  .priorityTask:hover{
    background-color: #eaeaea;
  }